[submodule "third_party/libwebm.fork"]
	path = third_party/libwebm.fork
	url = https://github.com/StanfordSNR/libwebm.git
[submodule "third_party/json.upstream"]
	path = third_party/json.upstream
	url = https://github.com/nlohmann/json.git
[submodule "third_party/dist-for-puffer"]
	path = third_party/dist-for-puffer
	url = https://github.com/StanfordSNR/dist-for-puffer.git
[submodule "third_party/pensieve"]
	path = third_party/pensieve
	url = https://github.com/StanfordSNR/pensieve.git
[submodule "third_party/abr_rl_test"]
	path = third_party/abr_rl_test
	url = https://github.com/sagar-pa/abr_rl_test.git
[submodule "third_party/causalsim_rl_deploy"]
	path = third_party/causalsim_rl_deploy
	url = https://github.com/pouyahmdn/causalsim_rl_deploy.git
[submodule "third_party/epsilon-greedy-bba"]
	path = third_party/epsilon-greedy-bba
	url = https://github.com/arashne/epsilon-greedy-bba
