[submodule "third_party/libwebm.fork"]
	path = third_party/libwebm.fork
	url = https://github.com/StanfordSNR/libwebm.git
[submodule "third_party/json.upstream"]
	path = third_party/json.upstream
	url = https://github.com/nlohmann/json.git
[submodule "third_party/dist-for-puffer"]
	path = third_party/dist-for-puffer
	url = https://github.com/StanfordSNR/dist-for-puffer.git
[submodule "third_party/pensieve"]
	path = third_party/pensieve
	url = https://github.com/StanfordSNR/pensieve.git
	ignore = dirty
