{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/signin.css' %}">
  <title>Puffer</title>
</head>

<body>
  <div class="container text-center">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Your username and password didn't match. Please try again.
    </div>
    {% endif %}

    <form class="form-signin p-5 mx-auto" method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <img class="mb-2" src="{% static 'puffer/images/puffer_logo_full.svg' %}"
           alt="" height="200">

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" required autofocus
         id="id_username" name="username">
        <input class="form-control" type="password" placeholder="Password" required
         id="inputPassword" name="password">
      </div>

      <div class="mb-4">
        <a href="#">Forgot password?</a>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
    </form>
  </div>

  <script src="{% static 'puffer/dist/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/bootstrap.min.js' %}"></script>
</body>

</html>
