{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/style.css' %}">
  <title>Puffer</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <h4>Sign in to Puffer</h4>
    </div>
    <br>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Your username and password didn't match. Please try again.
    </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <div class="form-group row">
        <label for="id_username" class="col-1 col-form-label">Username:</label>
        <div class="col-3">
          <input type="text" class="form-control" name="username" id="id_username">
        </div>
      </div>

      <div class="form-group row">
        <label for="id_password" class="col-1 col-form-label">Password:</label>
        <div class="col-3">
          <input type="password" class="form-control" name="password" id="id_password">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <br>

    <div class="row">
      <p>Don't have an account? <a href="{% url 'signup' %}">Sign up!</a></p>
    </div>
  </div>

  <script src="{% static 'puffer/dist/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/bootstrap.min.js' %}"></script>
</body>

</html>
