{% if user.is_authenticated %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Puffer</title>
  <link rel="stylesheet" href="{% static 'puffer/style.css' %}">
</head>

<body>
  <h1>Puffer</h1>
  <li>User: {{ user.get_username }}</li>
  <li><a href="{% url 'logout'%}">Logout</a></li>

    <div id="tv-container">
      <video id="tv-player" mediagroup="tv" muted autoplay></video>
      <audio id="tv-audio" mediagroup="tv"></audio>
      <div id="tv-controls">
        <button type="button" id="mute-button"></button>
        <input type="range" id="volume-bar" min="0" max="1" step="0.05">
        <select id="channel-select">
          <option value="abc">abc</option>
          <option value="nbc">nbc</option>
        </select>
        <button type="button" id="full-screen-button"></button>
      </div>
    </div>

  <script src="{% static 'puffer/player.js' %}"></script>
</body>

</html>
{% else %}
  <li><a>You must </a>
  <a href="{% url 'login'%}?next={{request.path}}">Login</a>
  <a> to view this page.</a></li>
{% endif %}
