{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117951942-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117951942-2');
    gtag('config', 'AW-771906819');
  </script>
  <link rel="stylesheet" href="{% static 'puffer/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/common.css' %}">
  <title>Puffer</title>
  <link rel="icon" href="{% static 'puffer/dist/images/favicon.ico' %}">
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- Open Data Section -->
  <div class="container py-4">
    <div class="text-center pb-1">
      <h4>Data Description</h4>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <div class="col-md-10 text-justify">
        <p>
        Along with our
        <a href="{% static 'puffer/documents/puffer-paper.pdf' %}">research paper</a>,
        we are publishing anonymized data collected on Puffer for the research community to investigate.
        As our experiments are ongoing, new data is collected each day.
        This data is posted daily to the <a href="{% url 'results' %}">Experiment Results</a> page,
        which also contains <b>all</b> data collected since the experiment began in January 2019.
        On this page, we provide a brief description.
        Please see the README in the
        <a href="https://github.com/StanfordSNR/puffer-statistics">puffer-statistics</a>
        repo for more details on the data analysis.
        </p>

        <br><h5>Raw Data</h5><hr>
        <p>
        A single day of data is several GB, so please download a small set of
        <a href="https://storage.cloud.google.com/puffer-data-release/puffer-fake-sample.tar.gz">fake data</a>
        first to determine if the full Puffer data is indeed what you need. We would also be grateful
        if you could download the data from our server only once. If anything is not
        clear in the below data description, please don't hesitate to post a question in our
        <a href="https://groups.google.com/forum/#!forum/puffer-stanford">Google Group</a>.
        </p>

        <p>
        At a high level, each day's Puffer data comprises different "measurements" &mdash;
        each measurement contains a different set of time-series data collected on Puffer servers,
        and is dumped as a CSV file.
        The CSV files that are essential for analysis include
        <span class="monospace">video_sent_X.csv</span>,
        <span class="monospace">video_acked_X.csv</span>, and
        <span class="monospace">client_buffer_X.csv</span>,
        where <span class="monospace">X</span>
        represents the day when the data was collected.
        For example, "2019-11-04T11_2019-11-05T11" means the data was collected between
        2019-11-04T11:00:00Z and 2019-11-05T11:00:00Z (UTC is the default time zone).
        In addition to these three CSVs, we also release
        <span class="monospace">ssim_X.csv</span> and
        <span class="monospace">video_size_X.csv</span>.
        </p>

        <p>
        A special field in many CSV files is <span class="monospace">expt_id</span>.
        This is a unique ID identifying information associated with a "scheme", or pair of ABR and
        congestion control algorithms such as <span class="monospace">Fugu/BBR</span>.
        The <span class="monospace">expt_id</span> can be used as a key to retrieve the
        associated settings (e.g. algorithms and git commit)
        in the <span class="monospace">logs/expt_settings</span> file.
        Each day has its own <span class="monospace">logs/expt_settings</span>, containing the
        settings of all schemes run on Puffer between January 2019 and that day (as well as later days,
        if the analysis was performed later).
        If an <span class="monospace">expt_id</span> were missing in the file, it would
        suggest an out-of-date file. The <span class="monospace">csv_to_stream_stats</span>
        program in the
        <a href="https://github.com/StanfordSNR/puffer-statistics">puffer-statistics</a>
        repo provides a function to parse this file.
        Note that the
        <a href="{% static 'puffer/documents/puffer-paper.pdf' %}">research paper</a>
        also uses the term "experiment" to refer to a <b>group</b> of schemes, e.g. the "primary experiment",
        whereas the <span class="monospace">expt_id</span> refers to a <b>single</b> scheme.
        </p>

        <p>
        Additionally, there are two terms that we will use in the description: "stream" and
        "session". When a Puffer client watches TV for the first time or reloads the
        player page, it starts a new "session", identified by <span class="monospace">session_id</span>
        in the CSVs. When a client switches channels, it enters into a
        different "stream" but still remains in the same "session", which uses the same
        TCP connection. Each CSV contains an <span class="monospace">index</span> field solely
        used to group streams. Two datapoints are considered part of the same stream if and only if
        they share both <span class="monospace">session_id</span> and <span class="monospace">index</span>.
        The values of <span class="monospace">session_id</span> and <span class="monospace">index</span>
        are not meaningful otherwise.
        </p>

        <p>
        Finally, the data format of each type of file:
        <ul>
          <li>
            <b><span class="monospace">logs/expt_settings</span></b>: Each line begins with the
            <span class="monospace">expt_id</span> and contains the corresponding
            configuration such as congestion control, ABR algorithm, and associated parameters.
            Note that the field <span class="monospace">abr_name</span> is simply a meaningful
            name for a specific combination of <span class="monospace">abr</span> and
            <span class="monospace">abr_config</span>.
          </li>

          <li>
            <b><span class="monospace">video_sent_X.csv:</span></b> Each line represents a data
            point collected when the Puffer server sent a video chunk to a client.
            The line contains the fields below in order:
            <ul>
              <li><span class="monospace">time:</span> timestamp (nanoseconds since Unix epoch)
                  when the chunk is sent</li>
              <li><span class="monospace">session_id:</span> unique ID for the video session</li>
              <li><span class="monospace">index</span></li>
              <li><span class="monospace">expt_id</span></li>
              <li><span class="monospace">channel:</span> TV channel name. Recall that
              a different channel suggests a different stream given the same
              <span class="monospace">session_id</span>.</li>
              <li><span class="monospace">video_ts:</span> presentation timestamp
              of the chunk. Each video chunk is always 2.002 seconds long, i.e.,
              180180 at 90 kHz. Therefore, a continuous playback in a stream would require
              <span class="monospace">video_ts</span> to increment by 180180 in each chunk.</li>
              <li><span class="monospace">format:</span> encoding settings of the chunk,
              represented as "WxH-CRF", namely the width, height, and constant rate factor (CRF)
              of the video</li>
              <li><span class="monospace">size:</span> chunk size in bytes</li>
              <li><span class="monospace">ssim_index:</span> SSIM of the chunk (relative to a
              canonical version of the chunk). Note that it is unitless (instead of in dB).</li>
              <li><span class="monospace">cwnd:</span> congestion window size in packets
              (<span class="monospace">tcpi_snd_cwnd</span>)</li>
              <li><span class="monospace">in_flight</span>: number of unacknowledged packets
              in flight
              (<span class="monospace">tcpi_unacked - tcpi_sacked - tcpi_lost + tcpi_retrans</span>)
              </li>
              <li><span class="monospace">min_rtt:</span> minimum RTT in microseconds
              (<span class="monospace">tcpi_min_rtt</span>)</li>
              <li><span class="monospace">rtt:</span> smoothed RTT estimate in microseconds
              (<span class="monospace">tcpi_rtt</span>)</li>
              <li><span class="monospace">delivery_rate:</span> TCP's estimation of delivery rate
              in byte/second (<span class="monospace">tcpi_delivery_rate</span>)</li>
            </ul>
          </li>

          <li>
            <b><span class="monospace">video_acked_X.csv:</span></b> Each line represents a data
            point collected when the Puffer server receives a video chunk acknowledgement
            from a client. Note that this is not when a chunk is received by the client.
            It contains the fields below in order:
            <ul>
              <li><span class="monospace">time:</span> timestamp
                (nanoseconds since Unix epoch) when the server receives a chunk acknowledgement
                from the client</li>
              <li><span class="monospace">session_id</span></li>
              <li><span class="monospace">index</span></li>
              <li><span class="monospace">expt_id</span></li>
              <li><span class="monospace">channel</span></li>
              <li><span class="monospace">video_ts:</span> presentation timestamp of the chunk,
                which can be used to find the matching chunk in
                <span class="monospace">video_sent_X.csv</span>.
                The presentation timestamp of a channel is usually monotonously increasing but
                will be reset to 0 from time to time
                (e.g., when Puffer's encoding pipeline is restarted). Therefore, it is not
                guaranteed to be universally unique, but duplicate matches within a short period
                of time are extremely rare in practice.</li>
            </ul>
          </li>

          <li>
            <b><span class="monospace">client_buffer_X.csv:</span></b> Each line represents a data
            point containing a message reported by the client, when certain events occur and on a
            regular interval. It contains the fields below in order:
            <ul>
              <li><span class="monospace">time:</span> timestamp (nanoseconds since Unix epoch)
                when the server receives the client message</li>
              <li><span class="monospace">session_id</span></li>
              <li><span class="monospace">index</span></li>
              <li><span class="monospace">expt_id</span></li>
              <li><span class="monospace">channel</span></li>
              <li>
                <span class="monospace">event</span>: type of event reported by the client includes
                <ul>
                  <li><span class="monospace">init:</span>
                      when the client switches to a new channel</li>
                  <li><span class="monospace">startup:</span> when the client starts playing a
                      channel. The difference between <span class="monospace">init</span>
                      and <span class="monospace">startup</span> is referred to as the
                      "startup delay" of that stream.</li>
                  <li><span class="monospace">rebuffer:</span> when the client rebuffers</li>
                  <li><span class="monospace">play:</span> when the client resumes playing
                      from rebuffering (this is a legacy name and would better be called
                      <span class="monospace">resume</span>)</li>
                  <li><span class="monospace">timer:</span> periodic event reported by
                      the client, designed to fire every 250 ms. In practice, however, the
                      interval is not reliable and can often be inevitably longer, e.g.,
                      when the client's browser tab becomes inactive.</li>
                </ul>
              </li>
              <li><span class="monospace">buffer:</span> playback buffer size in seconds</li>
              <li><span class="monospace">cum_rebuf:</span> total time in seconds that
                  the client has spent rebuffering in the current stream</li>
            </ul>
          </li>
        </ul>
        </p>

        <br><h5>Plots</h5><hr>
        <p>
        In addition to raw data, the <a href="{% url 'results' %}">Experiment Results</a> page
        contains up to ten plots per day. The plots summarize the relative performance over
        several time periods of the schemes run on that day.
        Each time period in the set {day, week, two weeks, month, duration} is plotted if
        <b>all</b> schemes that ran on the day of interest (i.e. the last day of each period) ran on
        <b>every</b> day of the period. Duration is the longest contiguous period over which all schemes
        in the day's group ran.
        For each such period, we plot the SSIM and stall ratio of
        each scheme, averaged over all stream speeds as well as slow streams only.
        </p>

        <p>
        The plots show 95% confidence intervals. Confidence intervals are particularly important in Puffer:
        As discussed in the <a href="{% static 'puffer/documents/puffer-paper.pdf' %}">research paper</a>,
        we find that the variable and heavy-tailed nature of video streaming requires remarkably large
        amounts of data in order to draw statistically significant conclusions about a scheme’s performance.
        For instance, notice that many of the single-day plots show little significant difference between the
        schemes, and separation often only becomes apparent over longer time periods.
        </p>

        <p>
        The <a href="{% url 'results' %}">Experiment Results</a> page is updated daily with the most
        recent data available. If the page does not allow the current day
        to be selected, its data may not yet be available; please check again later in the day.
        </p>

        <br><h5>Other Results</h5><hr>
        <p>
        The <a href="{% url 'results' %}">Experiment Results</a> page links to the storage bucket
        containing all the anonymous data collected on each day.
        In addition to the raw data and plots described above, this bucket includes metadata files such as a list of
        days each scheme ran. Please see the
        <a href="https://github.com/StanfordSNR/puffer-statistics">puffer-statistics</a>
        README for a detailed description of these files.
        </p>
      </div>
    </div>
  </div>

  <script src="{% static 'puffer/dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
