{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/common.css' %}">
  <title>Puffer</title>
  <link rel="icon" href="{% static 'puffer/dist/images/favicon.ico' %}">
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- FAQ Section -->
  <div class="container py-4">
    <h3 class="font-weight-normal mt-3">Frequently Asked Questions</h3>
    <br>

    <h5>What is Puffer?</h5>
    <p>
    Puffer is a Stanford University research project aiming to improve live
    streaming of video over the Internet.
    </p>

    <h5>What channels can I watch?</h5>
    <p>
    Puffer rebroadcasts over-the-air television channels available in the Bay Area. Currently,
    we rebroadcast local affiliates of CBS, NBC, ABC, Fox, Univision, and PBS.
    </p>

    <h5>What platforms support Puffer?</h5>
    <p>
    Puffer works on most operating systems and browsers.
    A list of platforms on which Puffer is <b>not</b> supported follows:
    </p>
    <ul>
      <li>Any browsers on iOS</li>
      <li>Safari on macOS</li>
      <li>IE on Windows</li>
      <li>Samsung Internet on Android</li>
    </ul>

    <h5>My question isn't answered here?</h5>
    <p>
    This FAQ (and Puffer) is still a work in progress, if you have any
    questions, please contact us at <img src="{% static 'puffer/dist/images/puffer-email.svg' %}" id="img-email">
    </p>

  </div>

  <script src="{% static 'puffer/dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>
