{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/bootstrap.min.css' %}">
  <title>Puffer</title>
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- Jumbotron -->
  <div class="jumbotron text-center bg-black">
    <div class="container">
      <h1 class="display-4">Welcome to Puffer!</h1>
      <p>
        Puffer is a live streaming system aimed at improving user experience.
      </p>
      <a role="button" class="btn btn-primary" href="#">Learn more</a>
    </div>
  </div>

  <script src="{% static 'puffer/dist/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/bootstrap.min.js' %}"></script>
</body>

</html>
