<nav class="navbar navbar-expand-lg navbar-light border-bottom p-3">
  <div class="container d-flex">
    <a class="navbar-brand" href="{% url 'index' %}">Puffer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
            aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">FAQ</a>
        </li>
      </ul>
    </div>
    <a role="button" class="btn btn-link" href="{% url 'signup' %}">Sign up</a>
    <a role="button" class="btn btn-outline-primary" href="{% url 'login' %}">Sign in</a>
  </div>
</nav>
