{% load static %}

<nav class="navbar navbar-expand-md navbar-light border-bottom py-3">
  <div class="container d-flex">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'puffer/dist/images/logo-text.svg' %}"
           alt="Puffer" height="25px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
            aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'player' %}">Watch TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'monitoring' %}">Monitoring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'faq' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://github.com/StanfordSNR/puffer">GitHub</a>
        </li>
      </ul>
    </div>

    <div class="ml-auto">
      {% if user.is_authenticated %}
      <a role="button" class="btn btn-link" href="{% url 'logout' %}">Sign out</a>
      <span style="vertical-align:middle;">{{ user.username }}</span>
      {% else %}
      <a role="button" class="btn btn-primary" href="{% url 'signup' %}">Sign up</a>
      <a role="button" class="btn btn-outline-primary" href="{% url 'player' %}">Log in</a>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
