{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/common.css' %}">
  <title>Puffer</title>
  <link rel="icon" href="{% static 'puffer/dist/images/favicon.ico' %}">
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- Participate Form -->
  <div class="container py-4">
    <!-- Success or error messages -->
    {% if messages %}
    <ul class="list-unstyled">
    {% for msg in messages %}
      <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    <h3 class="font-weight-normal mt-3">Sign Up to Watch Puffer</h3>
    <br>

    <p>
      Puffer is a research project run by the Stanford Systems and Networking Research Group.
      The goal of this project is to investigate methods for improving live streaming of video
      over the Internet. To that end, we provide live rebroadcasts over the Internet of broadcast
      television channels available over-the-air in the Bay Area.
      To learn more about Puffer, please visit our <a href="{% url 'faq' %}">FAQ.</a>
    </p>
    <p>
      To avoid overwhelming our infrastructure, we are slowing growing the number of users on
      Puffer, with an eventual goal of 500 simultaneous viewers. As such, signing up for Puffer
      requires an invitation token. To request an invitation token from the Puffer team, please
      enter your email below, and we will provide you with one as soon as we can.
      We will never share your email with anyone else.
    </p>

    <p><form class="form-inline" method="post" action="{% url 'participate' %}">
      {% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control mr-3" name="email-field" id="email-field"
               placeholder="Please enter your email" style="width:300px" required></input>
      </div>
      <button type="submit" class="btn btn-primary">Request a token</button>
    </form></p>

    <p>Already have an invitation token? <a href="{% url 'signup' %}">Sign up here.</a></p>
  </div>

  <script src="{% static 'puffer/dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>
