{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Puffer</title>
  <link rel="stylesheet" href="{% static 'puffer/css/style.css' %}">
</head>

<body>

{% if user.is_authenticated %}
  <h1>Puffer</h1>
  <p>User: {{ user.get_username }}</p>
  <p><a href="{% url 'logout' %}">Logout</a></p>

  <div id="tv-container-box">
    <ul id="channel-list">
      <li class="li_title">Channel List</li>
      <li class="li_channel_checked">ABC</li>
      <li class="li_channel">NBC</li>
      <li class="li_channel">FOX</li>
      <li class="li_channel">PBS</li>
      <li class="li_channel">CW</li>
    </ul>
    <div id="tv-container">
      <div id="tv-container-fs">
        <video id="tv-player" muted="muted"></video>
        <audio id="tv-audio"></audio>
        <div id="tv-controls-background">
          <div id="tv-controls">
            <button type="button" id="mute-button"></button>
            <input type="range" id="volume-bar" min="0" max="1" step="0.05" value="0">
            <button type="button" id="full-screen-button"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <object type="text/html" data="{% url 'rating' %}" width=730 height=350></object>
  </div>

  <script src="{% static 'puffer/js/player.js' %}"></script>

  {% if params_json %}
  <script type="text/javascript">
    init_player("{{ params_json|escapejs }}");
  </script>
  {% endif %}

{% else %}
  <script> window.location.replace("{% url 'login' %}"); </script>
{% endif %}

</body>

</html>
