{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/player.css' %}">
  <title>Puffer</title>
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- Player -->
  <div class="container py-5">
    <!-- Success or error messages -->
    {% if messages %}
    <ul class="list-unstyled mb-3">
    {% for msg in messages %}
      <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
        </div>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    <div class="row">
      <div class="col-md-9">
        <p>Video is muted by default; unmute it using the player control bar.</p>
        <div class="embed-responsive embed-responsive-16by9" id="tv-container">
          <video id="tv-video" muted="muted"></video>
          <audio id="tv-audio"></audio>
          <div id="tv-controls-background">
            <div id="tv-controls">
              <button type="button" id="mute-button"></button>
              <input type="range" id="volume-bar" min="0" max="1" step="0.05" value="0">
              <button type="button" id="full-screen-button"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="list-group" id="channel-list">
          <div class="text-center">
            <p>Channel list</p>
          </div>
          <button type="button" name="abc" class="list-group-item list-group-item-action active">
            KGO-TV 7 (ABC)
          </button>
          <button type="button" name="nbc" class="list-group-item list-group-item-action">
            KNTV 11 (NBC)
          </button>
          <button type="button" name="fox" class="list-group-item list-group-item-action">
            KTVU 2 (Fox)
          </button>
          <button type="button" name="pbs" class="list-group-item list-group-item-action">
            KQED 9 (PBS)
          </button>
          <button type="button" name="cw" class="list-group-item list-group-item-action">
            KBCW 44 (The CW)
          </button>
        </div>

        <div class="text-center my-4">
          <a class="btn btn-success" href="{% url 'rating' %}" role="button">Rate us!</a>
        </div>
      </div>
    </div>
    <br>

    <button class="btn btn-info" type="button" data-toggle="collapse"
            data-target="#debug-info" aria-expanded="false" aria-controls="debug-info">
      Show debug info
    </button>
    <div class="collapse" id="debug-info">
      <div class="py-3">
        Video playback buffer (s): <span id="vidPBuf"></span><br>
        Audio playback buffer (s): <span id="audPBuf"></span><br>
        Video quality (resolution-CRF): <span id="vidQual"></span>
      </div>
    </div>

  </div>

  <script src="{% static 'puffer/dist/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/bootstrap.min.js' %}"></script>

  <script src="{% static 'puffer/js/player.js' %}"></script>
  {% if params_json %}
  <script type="text/javascript">
    init_player("{{ params_json|escapejs }}");
  </script>
  {% endif %}
</body>

</html>
