{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/star_rating.css' %}">
  <title>Puffer</title>
</head>

<body>
{% if user.is_authenticated %}
  <div class="container">
    <h4>Rating:</h4>

    {% if error_message %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{ error_message }}
      </div>
    {% endif %}

    {% if success_message %}
      <div class="alert alert-success">
        <strong>Success!</strong> {{ success_message }}
      </div>
    {% endif %}

    <form method="post" action="{% url 'rating' %}">
      {% csrf_token %}

      <div class="rating">
      {% for i in star_pattern %}
        <label>
          <input type="radio" name="rating-star" value="{{ forloop.counter }}" />
        {% for j in i %}
          <span>&#9733</span>
        {% endfor %}
        </label>
      {% endfor %}
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="3" name="rating-comment" id="rating-comment"
                  placeholder="Any comments?"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% else %}
  <script> window.location.replace("{% url 'login' %}"); </script>
{% endif %}

  <script src="{% static 'puffer/dist/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/bootstrap.min.js' %}"></script>
</body>

</html>
