{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'puffer/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/common.css' %}">
  <link rel="stylesheet" href="{% static 'puffer/css/rating.css' %}">
  <title>Puffer</title>
  <link rel="icon" href="{% static 'puffer/dist/images/favicon.ico' %}">
</head>

<body>
  <!-- Navigation -->
  {% include "puffer/navigation.html" %}

  <!-- Rating -->
  <div class="container py-4">
    <!-- Success or error messages -->
    {% if messages %}
    <ul class="list-unstyled">
    {% for msg in messages %}
      <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    <h3 class="font-weight-normal mt-3">Rating:</h3>

    <form method="post" action="{% url 'rating' %}">
      {% csrf_token %}

      <div class="rating">
      {% for i in star_pattern %}
        <label>
          <input type="radio" class="invisible" name="rating-star"
                 value="{{ forloop.counter }}" />
        {% for j in i %}
          <span class="star-icon"></span>
        {% endfor %}
        </label>
      {% endfor %}
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="3" name="rating-comment" id="rating-comment"
                  placeholder="Any comments?"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
    </form>
  </div>

  <script src="{% static 'puffer/dist/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'puffer/dist/js/bootstrap.min.js' %}"></script>
</body>

</html>
