.body {
  background-color: #f5f5f5;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.fake-link {
  color: #007bff;
  cursor: pointer;
}

.fake-link:hover {
  text-decoration: underline;
}

.list-unstyled {
  margin-bottom: 0;
}

.errorlist {
  color: #dc3545;
  margin-bottom: 0;
}

.question {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
}

.scroll {
  max-height: 210px;
  overflow-y: auto;
}

.form-signup .form-group {
  margin-bottom: 0.5rem;
}

.m-0 {
  margin: 0;
}

.fullscreen {
  display: block;
  border: none;
  width: 100vw;
  height: 100vh;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.monospace {
  font-family: monospace;
}

.perf-img {
  max-width: 500px;
}

.img-max-600 {
  width: 100%;
  max-width: 600px;
}

.img-max-800 {
  width: 100%;
  max-width: 800px;
}
