.rating {
  position: relative;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label span {
  float: left;
  color: transparent;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label:last-child {
  position: static;
}

.rating label:last-child span {
  color: black;
}

.rating:not(:hover) label input:checked ~ span,
.rating:hover label:hover input ~ span {
  color: green;
}

.star-icon:before {
  content: "\2605";
  width: 40px;
  font-size: 45px;
}
