body {
  padding-top: 40px;
  padding-bottom: 40px
}

.rating {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 45px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label span {
  float: left;
  width: 40px;
  color: transparent;
}

.rating label:last-child span {
  color: black;
}

.rating:not(:hover) label input:checked ~ span,
.rating:hover label:hover input ~ span {
  color: #09f;
}

